*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #fff; }

::selection {
  color: #fff;
  background-color: #d6ba00; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000;
  line-height: 1.5; }

@keyframes loading-circle {
  0% {
    transform: scale(0.2);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }

main {
  background-color: #fff;
  padding: 2rem; }

.nav {
  border-bottom: 1px solid #aaa;
  padding: 1rem 3rem; }
  .nav__title {
    color: #d6ba00; }

.btn {
  border: none;
  background-color: #d6ba00;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem 4rem;
  border-radius: 6px;
  cursor: pointer; }
  .btn--disabled {
    cursor: not-allowed;
    background-color: #aaa; }

.nft-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 40rem));
  row-gap: 2rem;
  column-gap: 3rem; }

.nft-card {
  border: 1px solid #aaa;
  position: relative;
  padding: 1rem;
  border-radius: 0.5rem; }
  .nft-card__heading {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem; }
  .nft-card__balance {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #d6ba00;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0.5rem;
    font-size: 1.4rem; }
  .nft-card__address {
    font-size: 1.4rem; }

.loading {
  text-align: center;
  margin: 2rem; }
  .loading__circle {
    fill: none;
    stroke: #d6ba00;
    animation: loading-circle 1s linear infinite;
    transform-origin: center; }
