*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #fff; }

::selection {
  color: #fff;
  background-color: #d6ba00; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #000;
  line-height: 1.5; }

main {
  background-color: #fff;
  padding: 2rem; }

.nav {
  border-bottom: 1px solid #aaa;
  padding: 1rem 3rem; }
  .nav__title {
    color: #d6ba00; }

.btn {
  border: none;
  background-color: #d6ba00;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem 4rem;
  border-radius: 6px;
  cursor: pointer; }
  .btn--disabled {
    cursor: not-allowed;
    background-color: #aaa; }
